%h2 Edit extension
- form_for :extension, @extension, :url => extensions_path, :html => {:method => :put} do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    %button{:type => "submit"}
      Update