/
  Setting base HTML Elements that were reset by YUI Reset.
  UI base.css, version: 2.4.1 part of YUI's CSS Foundation

html
  /:background #BDE9FF
  :color #2F2520

h5,h6,strong,legend
  :font-weight bold

/
  h1,h2
  :font-family arial,helvetica,clean,sans-serif

h1,h2,h3,h4
  :font-family Georgia,"Times New Roman",Times,serif
  :margin 1em 0
  &.title
    :margin-bottom 0
  &.first
    :margin-top 0
    
h1
  :font-size 197%
  :letter-spacing -1px
h2
  :font-size 174%
  :letter-spacing -1px
h3
  :font-size 146.5%
  :color #F69220
  :margin 1em 0 0.3em
h4
  :font-size 123.1%
  :color #9FBF3B
  :margin 1em 0 0.3em
  &.first
    :margin-top 0.5em

abbr,acronym
  :border-bottom 1px dotted #000
  :cursor help

em
  :font-style italic

blockquote,ul,ol
  :margin 1em

blockquote
  :padding 0.5em 35px
  :background url(/images/quote.gif) no-repeat left 0.2em
  :font-size 108%
  :border-top 1px solid #FFF0DF
  :border-bottom 1px solid #FFF0DF

ol,ul
  :margin-left 2em

ol li
  :list-style decimal outside

ul li
  :list-style disc outside

th,td
  :border-bottom 2px solid #ACF6F7
  :padding .5em

th
  :font-weight bold
  :text-align center

caption
  :margin-bottom .5em
  :text-align center

p,fieldset,table,pre
  :margin-bottom 1em
  
p,li
  :line-height 1.6em


/
  setting a consistent width, 160px
  control of type=file still not possible
input[type=text],input[type=password],textarea
  :width 12.25em
  :*width 11.9em
