/
  Setting base HTML Elements that were reset by YUI Reset.
  UI base.css, version: 2.4.1 part of YUI's CSS Foundation

html
  :color #2F2520
body
  :font-family Georgia, serif
strong,legend
  :font-weight bold
  
h1,h2,h3,h4,h5
  :font-family "Trebuchet MS",Arial,Verdana,sans-serif,clean
  :margin 1em 0
  :font-weight bold
  &.title
    :margin-bottom 0
  &.first
    :margin-top 0  
h1
  :font-size 153.9%
h2
  :font-size 138.5%
h3
  :font-size 123.1%
  :margin 1em 0 0.3em
h4
  :font-size 116%
  :margin 1em 0 0.3em
  &.first
    :margin-top 0.5em

h5
  :font-size 108%
  :color #2F2520

abbr,acronym
  :border-bottom 1px dotted #000
  :cursor help

em
  :font-style italic

blockquote
  :margin 1em
  :padding 0.5em 35px
  :background url(/images/quote.gif) no-repeat left 0.2em
  :font-size 108%
  :border-top 1px solid #FFF0DF
  :border-bottom 1px solid #FFF0DF
  :font-style italic

ol,ul
  :margin 0.2em
  :margin-left 2em

ol li
  :list-style decimal outside

ul li
  :list-style disc outside

th,td
  :padding 0.3em
  :vertical-align middle
  :border-bottom 1px solid #CFF0FF

thead
  :background #CFF0FF

th
  :font-weight bold
  :text-align center

caption
  :margin-bottom .5em
  :text-align center

p,fieldset,table,pre
  :margin-bottom 1em
  
p
  :line-height 1.6em


/
  setting a consistent width, 160px
  control of type=file still not possible
input[type=text],input[type=password],textarea
  :width 12.25em
  :*width 11.9em
