/ PUGET SOUND REGIONAL COUNCIL (http://www.psrc.org)
/ by Fixie Consulting (http://www.fixieconsulting.com)


/ === EVENT REGISTRATION === /
#progress
  :height 223px
  :background url(/images/event_steps_vertical.png) no-repeat
  :text-indent -6000px
  :position relative
  &.step-2
    :background-position left -224px
  &.step-3
    :background-position left -449px
  &.step-4
    :background-position left -674px
  &.step-5
    :background-position left -899px
    
  h4
    :margin 0
    :padding 0

/ = Registration Options = /
table.registration
  :width 99%
  td.select
    :text-align center
  td.type
    :width 18em
  th
    :text-align left
    :vertical-align bottom

  th span, td span
    :font-weight normal
    :font-size 85%
    :color #8F806B


.attendee
  :padding 0.5em 0
  &.even
    :border-top 1px solid #CFF0FF
    :border-bottom 1px solid #CFF0FF
  h4
    :color #B6986A
    :font-size 85%
    :text-transform uppercase
  .field
    :float left
    :margin-right 1em
    input.text
      :width 12em
    &.vegetarian
      :padding-top 1.5em
      :font-size 93%

/ = Attendee Info = /
#table-name-container
  :margin 0.5em 0 
  
input#set_table_name
  :width 20.7em
  
#contact-info, #payment
  input.text
    :width 25em
  
/ = Credit Card = /
#card_verification_value
  :width 3em !important
  
/ = Confirmation = /
table#registered-attendees
  :width 99%
  th,td
    :text-align left
