/ PUGET SOUND REGIONAL COUNCIL (http://www.psrc.org)
/ by Fixie Consulting (http://www.fixieconsulting.com)

html
  :color #2F2520

h5,h6,strong,legend
  :font-weight bold
  
h1,h2,h3,h4
  :margin 1em 0
  &.title
    :margin-bottom 0
  &.first
    :margin-top 0
    
h1
  :font-size 197%
h2
  :font-size 174%
h3
  :font-size 146.5%
  :margin 1em 0 0.3em
h4
  :font-size 123.1%
  :margin 1em 0 0.3em
  :font-weight bold
  &.first
    :margin-top 0.5em

abbr,acronym
  :border-bottom 1px dotted #000
  :cursor help

em
  :font-style italic

blockquote,ul,ol
  :margin 1em

ol,ul
  :margin-left 2em

ol li
  :list-style decimal outside

ul li
  :list-style disc outside

th,td
  :padding 0.3em
  :vertical-align middle
  :border-bottom 1px solid #CFF0FF

thead
  :background #185F70
  :color #FFF

th
  :font-weight bold
  :text-align center

caption
  :margin-bottom .5em
  :text-align center

p,fieldset,table,pre
  :margin-bottom 1em
  
p
  :line-height 1.6em

input[type=text],input[type=password],textarea
  :width 12.25em
  :*width 11.9em
  
a
  &:link, &:active
    :color #1A4175
    :text-decoration none
  &:visited
    :color #355C8F
    :text-decoration none
  &:hover
    :color #FF7F00
    :text-decoration underline
  &:focus
    :outline none


#custom-doc, #psrc-logo, #branding, #ft
  :margin auto
  :text-align left
  :width 63.46em
  :*width 61.93em
  :min-width 825px
  
.event-page
  h1,h2,h3,h4
    :font-family arial,helvetica,clean,sans-serif
  h4
    :font-weight bold
  #ft
    :color #A9A9A9

#ft
  :margin auto
  :padding 1em 0 0.5em
  :color #999
  :font-size 85%
  :text-align right
  ul
    :margin 0
    :padding 0
    li
      :list-style none
      :margin-right 2em
      :display inline
      
body#psrc.show
  #main-content-container
    :margin-left 25.7%
    
    
/ === EVENT REGISTRATION === /

#main-content-wrapper
  :background #185F70
  :color #333

  #main-content
    :border 1px solid #E9E9E9
    :border-top 1px solid #CCC
    :background #FFF
    :padding 10px
  #page-content
    :padding 1em 1em 0.5em 1em
    :border 1px solid #EEE
    :border-top 1px solid #CCC

#page-header, #page-sub-header
  :margin 0 0 0 10px
#page-header
  :color #FFF
  :font-size 146.5%
  :padding-top 5px
#page-sub-header
  :color #B5CACF
  :padding-bottom 5px
  :font-size 132%
#event-container

#psrc-logo
  :text-align left
  :margin-top 1em
#branding-banner
  :background #FFF url(/images/bg-header-chrome.png) repeat-x
#event-banner
  :margin 1em 0
  :background url(/assets/3855/regbanner.jpg) repeat-x center center
  :border 1px solid #CBDCDE
  :height 145px
#event-branding-progress
  :position relative
ol#progress
  :margin 0
  :margin-top 1em
  :position absolute
  :right -1.15em
  :width 100%
  li
    :-webkit-border-radius-topleft 5px
    :-webkit-border-radius-bottomleft 5px
    :-moz-border-radius-topleft 5px
    :-moz-border-radius-bottomleft 5px
    :margin 0.5em 0
    :background-color #E0EEEF
    :background-repeat no-repeat
    :background-position 0.15em 0.25em
    :padding 0.4em 0
    :color #333
    :padding-left 2em
    :list-style none
  li.step-1
    :background-image url(/images/step-1.png)
  li.step-2
    :background-image url(/images/step-2.png)  
  li.step-3
    :background-image url(/images/step-3.png)
  li.step-4
    :background-image url(/images/step-4.png)
  li.step-5
    :background-image url(/images/step-5.png)
  li.step-6
    :background-image url(/images/step-6.png)
  li.current
    :color white
    :background-color #185F70
/ = Registration Options = /
table.registration
  :width 99%
  td.select
    :text-align right
    :padding-right 10px
  td.type
    :width 18em
  th
    :text-align left
    :vertical-align bottom

  th span, td span
    :font-weight normal
    :font-size 85%
    :color #8F806B


.attendee
  :padding 0.7em 0
  &.even
    :border-top 1px solid #CFF0FF
    :border-bottom 1px solid #CFF0FF
  h4
    :color #B6986A
    :font-size 85%
    :text-transform uppercase
  .field
    :float left
    :margin-right 1em
    input.text
      :width 11.5em
  .vegetarian
    :clear left
    :font-size 93%

/ = Attendee Info = /
#table-name-container
  :margin 0.5em 0 
  
input#set_table_name
  :width 20.7em
  
#contact-info, #payment
  input.text
    :width 25em
  
/ = Credit Card = /
#card_verification_value, #card_zip
  :width 3.5em !important
  
/ = Menu Options = /

ul#menu-options
  :margin-left 0
  :margin-bottom 3em
  li
    :list-style none
    *
      :vertical-align middle
  
/ = Confirmation = /
table#registered-attendees
  :width 99%
  th,td
    :text-align left

h4.title .hint
  :font-size 68%
  :color #7F6F67
  :font-weight normal
  :letter-spacing 0
  
  
// Prosperity Partnership Theme
body#prosperity
  .event-page
    :padding-top 2em
  h4
    :color #1A4175 !important
  th
    :background #1A4175
    :color #EFFAFF
  td
    :border-color #E9E9E9
  #event-logo
    :text-align center
    :margin-top 1em
    img
      :width 167px
      :margin auto
  #event-container
    :padding 1em 0
    :background #1A4175
  #main-content-container
    :margin-right 1em
    :background #FFF url(/images/pp-circles.png) no-repeat center 3px
    :-moz-border-radius 15px
    :-webkit-border-radius 15px
    :padding 1em
    :padding-top 120px
  #main-content-wrapper
    :-webkit-border-radius 15px
    :-moz-border-radius 15px
    :background #1A4175
    :padding 1em
    :border none
    #main-content
      :-webkit-border-radius 15px
      :-moz-border-radius 15px
  ol#progress li
    :background-color #566A9A
    :color white
    li.step-1
      :background-image url(/images/step-1.gif)
    li.step-2
      :background-image url(/images/step-2.gif)  
    li.step-3
      :background-image url(/images/step-3.gif)
    li.step-4
      :background-image url(/images/step-4.gif)
    li.step-5
      :background-image url(/images/step-5.gif)
    &.current
      :background-color white
      :color #333
  #page-header, #page-sub-header
    :margin-left 0
  #page-header
    :color #FFF
  #page-sub-header
    :color #C2E0EF
    :padding-bottom 10px
  #ft
    :text-align left
