/ GROUPIE GUIDE (http://www.groupieguide.com) by Fixie Consulting (http://www.fixieconsulting.com)

!quiet = #AFA699

/ === YUI PiggyBack ===  /
html
  :background #E3E3E3
  :color #464037
  :border-top 5px solid #E99A17
  :padding-top 2em

#custom-doc
  :background #FFF
  :padding 1em
  :margin auto
  :text-align left
  :width 63.46em
  :*width 61.93em
  :min-width 825px
  :-moz-border-radius-topright 15px
  :-moz-border-radius-bottomleft 15px

/ === LINKS === /
a
  &:link, &:active
    :color #367CAF
    :text-decoration none
  &:visited
    :color #67A3CF
    :text-decoration none
  &:hover
    :text-decoration underline
  &:focus
    :outline none

// === REUSABLE LAYOUT === //

.section
  :margin-bottom 2em

  .section-content
    :padding 0.5em
  h2, h3
    :margin 0
    :padding 0
    :background #ACF6F7
    :color #055959
    :padding 0.1em 0.4em

/ === UTIL CLASSES ===
.align-center
  :text-align center

.align-left
  :text-align left

.align-right
  :text-align right

.clear
  :display inline-block
  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden

* html .clear
  height: 1%

.clear, .block
  :display block

.clear-both
  :clear both

.email
  :background url(/images/email.png) no-repeat
  :padding 1px 0 2px 19px

.float-left
  :float left

.float-right
  :float right

.hide
  :display none  
  
.quiet
  :color = !quiet

.small
  :font-size 93%

.strong
  :font-weight bold

.strong-links
  a
    :font-weight bold
  
dl.two-col
  dt
    :float left
    :width 55px
  dd
  
.view-more
  :text-align right
  :font-size 85%

    
/ === ERROR MESSAGES ===
.notice, .success, .error
  :margin-bottom 1em
  :text-align center
  :font-weight bold
  :padding 0.8em
  a
    :font-weight bold
  h2
    :padding 0
    :margin 0
    :text-transform capitalize

.errorExplanation
  :background #FBE3E4
  :color #8a1f11
  :border 1px solid #FBC2C4
  :text-align center
  :font-weight bold
  h2
    :margin 0
  
.error
  :background #CF001D
  :color #FFF

.notice
  :background #FFF6BF
  :color #514721
  :border-color #FFD324

.success
  :background #E6EFC2
  :color #264409
  :border-color #C6D880
    
.fieldWithErrors
  :display inline
  input
    :background #FFDFE1
    
/ === EVENT REGISTRATION === /
#event-registration
  :padding 0 5em 1em

#progress
  :height 37px
  :margin-bottom 2em
  :margin-top 0.5em
  :background #ACF6F7 url(/images/event_steps.gif) no-repeat
  :-moz-border-radius-topright 3px
  :-moz-border-radius-bottomright 3px
  :text-indent -6000px
  :position relative
  &.step-2
    :background-position left -54px
  &.step-3
    :background-position left -108px
  &.step-4
    :background-position left -162px
  &.step-5
    :background-position left -216px
    
  h4
    :padding-top 10px

/ = Registration Options = /
table.registration
  :width 99%
  td.select
    :text-align center
  td.type
    :width 18em
  th
    :text-align left
    :vertical-align bottom

  th span, td span
    :font-weight normal
    :font-size 85%
    :color = !quiet


.attendee
  :padding 0.5em 0
  &.even
    :border-top 1px solid #ACF6F7
    :border-bottom 1px solid #ACF6F7
  h4
    :color #B6986A
    :font-size 85%
    :text-transform uppercase
  .field
    :float left
    :margin-right 1em
    input.text
      :width 12em
    &.vegetarian
      :padding-top 1.5em
      :font-size 93%

/ = Attendee Info = /
#table-name-container
  :margin 1em 0 2em 0

input#set_table_name
  :width 27.5em
  
#contact-info, #payment
  input.text
    :width 25em
  
#ft
  :margin-top 3em
  :border-top 1px solid #F4CD8B
  :padding 0.5em 0
  
