/ PUGET SOUND REGIONAL COUNCIL (http://www.psrc.org)
/ by Fixie Consulting (http://www.fixieconsulting.com)

/ === YUI PiggyBack ===  /
#bd

#main-content-wrapper
  :background #CFF0FF
  /A4D6EF
  :padding 1em
  :padding-top 0.9em
  #main-content
    :background #FFF
    :padding 1em
    
#custom-doc, #banner, #breadcrumbs, #header ul, #logo, #ft
  :margin auto
  :text-align left
  :width 63.46em
  :*width 61.93em
  :min-width 825px

/ === LINKS === /
a
  &:link, &:active
    :color #3C78A7
    :text-decoration none
  &:visited
    :color #5AAECF
    :text-decoration none
  &:hover
    :text-decoration underline
  &:focus
    :outline none

// === REUSABLE LAYOUT === //

#banner
  :border 1px solid #7BD3F7
  :margin-bottom 1em
  #banner-content
    :height 135px
    :border 3px solid #BDE9FF
    :background url(/images/banner2.jpg) no-repeat center center
    
#breadcrumbs
  :font-size 85%
  :margin-bottom 0.5em
  :color #7F6F67
  a:link, a:visited
    :text-decoration underline
#ft
  :margin auto
  :padding 1em 0 0.5em
  ul
    :margin 0
    :padding 0
    li
      :font-size 85%
      :list-style none
      :margin-right 2em
      :display inline
      a:link, a:visited
        :color #9E8B71

#header
  :font-family arial,helvetica,clean,sans-serif
  :font-weight bold
  :font-size 85%
  :background #3F2200
  /F15A24
  :padding 0
  :margin-bottom 1em
  ul
    :padding 0
    li
      :padding 0
      :list-style none
      a:link, a:visited
        :float left
        :margin-right 1em
        :padding 0.6em 0.4em 0.5em
        :height 1%
        :color #FFF
        :text-transform uppercase
      a:hover
        :background #CFF0FF
        :color #2F2520
        :text-decoration none
      &.current
        a:link, a:visited
          :background #EF870E
          :color #FFF
          /F58E27

#logo
  :margin-top 1.2em
  :margin-bottom 0.1em
  h1
    :margin 0
  
#page-content
  :background #FFF
  :padding 1em 1em 0.5em 1em

#page-header
  :margin 0 0 0.3em 0
  
#page-sub-header
  :margin -0.3em 0 0.3em 0
  :color #7F6F67
  
#sub-page-header
  :margin 0.2em 0 1em 
  :color #7F6F67

.section
  :margin-bottom 2em

  .section-content
    :padding 0.5em
  h4
    :margin 0
    :padding 0
    :background #DDEFA4
    :display inline
    :color #676F22
    :padding 0.1em 0.4em

.photo-caption-left
  :float left
  :margin-right 0.5em

.photo-caption-right
  :float right
  :margin-left 0.5em

.photo-caption-left, .photo-caption-right
  dt
    :margin 0
    :padding 0
    :background white
    :padding 0.3em 0.3em 0 0.3em
    :border 1px solid #EEE
    img
      :padding 0
      :margin 0
  dd
    :color #684234
    :font-size 85%
    :font-style italic
    :padding 0.2em

ul#page-navigation
  :background #C7DF7D
  :margin 0
  :padding 0.2em 0
  li
    :list-style none
    :border-top 1px solid #BCD95E
    a:link, a:visited
      :height 1%
      :display block
      :font-weight bold
      :color #676F22
      :padding 0.4em
      :font-size 93%
    &.active
      :background url(/images/nav-arrow.gif) no-repeat 155px 0.2em
      a:link, a:visited
        :color #2F2520
    &.first
      :border-top none


    
/ === ERROR MESSAGES ===
.notice, .success, .error
  :margin-bottom 1em
  :text-align center
  :font-weight bold
  :padding 0.8em
  a
    :font-weight bold
  h2
    :padding 0
    :margin 0
    :text-transform capitalize

.errorExplanation
  :background #FBE3E4
  :color #8a1f11
  :border 1px solid #FBC2C4
  :text-align center
  :font-weight bold
  h2
    :margin 0
  
.error
  :background #CF001D
  :color #FFF

.notice
  :background #FFF6BF
  :color #514721
  :border-color #FFD324

.success
  :background #E6EFC2
  :color #264409
  :border-color #C6D880
    
.fieldWithErrors
  :display inline
  input
    :background #FFDFE1
    
