/ PUGET SOUND REGIONAL COUNCIL (http://www.psrc.org)
/ by Fixie Consulting (http://www.fixieconsulting.com)

/ === YUI PiggyBack ===  /
#doc,#doc2,#custom-doc
  :background #BDE9FF
  :-moz-border-radius 10px

#doc-content
  :padding 1em

#custom-doc, #banner, #header-content, #logo, #ft
  :margin auto
  :text-align left
  :width 63.46em
  :*width 61.93em
  :min-width 825px

/ === LINKS === /
a
  &:link, &:active
    :color #277D9F
    :text-decoration none
  &:visited
    :color #5AAECF
    :text-decoration none
  &:hover
    :text-decoration underline
  &:focus
    :outline none

// === REUSABLE LAYOUT === //

#banner
  :border 1px solid #7BD3F7
  :margin-bottom 1em
  #banner-content
    :height 135px
    :border 3px solid #BDE9FF
    :background url(/images/banner2.jpg) no-repeat center center

#ft
  :margin auto
  :padding 0.5em 0
  ul
    :margin 0
    :padding 0
    :text-align center
    li
      :font-size 85%
      :list-style none
      :margin-right 2em
      :display inline
      a:link, a:visited
        :color #9E8B71

#header
  :font-family arial,helvetica,clean,sans-serif
  :font-weight bold
  :font-size 93%
  :background #F15A24
  :margin-bottom 1em
  ul#header-content
    :padding 0
    li
      :float left
      :margin 0.4em 0
      :margin-right 1em
      :padding 0
      :list-style none
      :line-height 1.6em
      a:link, a:visited
        /:background #EF4D24
        :color #FFEFDF
        :padding 0.3em 0.4em
        :-moz-border-radius 3px
      a:hover
        :background #F58E27
        :text-decoration none
      &.current
        a:link, a:visited
          :background #F58E27
          :font-weight bold

#logo
  :margin-top 1.2em
  :margin-bottom 0.1em
  h1
    :margin 0
  
#page-content
  :background #FFF
  :padding 1em 1em 0.5em 1em

#page-header
  :margin 0.2em 0.2em 0.5em
  
#sub-page-header
  :margin 0.2em 0 1em 
  :color #7F6F67

.section
  :margin-bottom 2em

  .section-content
    :padding 0.5em
  h2, h3
    :margin 0
    :padding 0
    :background #ACF6F7
    :color #055959
    :padding 0.1em 0.4em

.photo-caption-left
  :float left
  :margin-right 0.5em

.photo-caption-right
  :float right
  :margin-left 0.5em

.photo-caption-left, .photo-caption-right
  dt
    :margin 0
    :padding 0
    :background white
    :padding 0.3em 0.3em 0 0.3em
    :border 1px solid #EEE
    img
      :padding 0
      :margin 0
  dd
    :color #684234
    :font-size 85%
    :font-style italic
    :padding 0.2em

ul#page-navigation
  :-moz-border-radius 5px
  :background #E3F6FF
  :margin 0
  :padding 0

  li
    :list-style none
    :border-top 1px solid #BDE9FF
    a:link, a:visited
      :height 1%
      :display block
      :font-weight bold
      :color #6DA1AF
      :padding 0.25em 0.4em
    &.active
      :background url(/images/nav-arrow.gif) no-repeat 155px 0.4em
      a:link, a:visited
        :color #2F2520
    &.first
      :border-top none


    
/ === ERROR MESSAGES ===
.notice, .success, .error
  :margin-bottom 1em
  :text-align center
  :font-weight bold
  :padding 0.8em
  a
    :font-weight bold
  h2
    :padding 0
    :margin 0
    :text-transform capitalize

.errorExplanation
  :background #FBE3E4
  :color #8a1f11
  :border 1px solid #FBC2C4
  :text-align center
  :font-weight bold
  h2
    :margin 0
  
.error
  :background #CF001D
  :color #FFF

.notice
  :background #FFF6BF
  :color #514721
  :border-color #FFD324

.success
  :background #E6EFC2
  :color #264409
  :border-color #C6D880
    
.fieldWithErrors
  :display inline
  input
    :background #FFDFE1
    
