/ PUGET SOUND REGIONAL COUNCIL (http://www.psrc.org)
/ by Fixie Consulting (http://www.fixieconsulting.com)

/ === YUI PiggyBack ===  /
#main-content-wrapper
  :background #FFF
  :-moz-border-radius-topright 10px
  :-webkit-border-radius-topright 10px

  #page-header
    :background #CBDCDE
    :color #000
    :font-weight normal
    :font-size 168%
  h2
    :color #185F70
    /:color #4E3114
    :margin 0
    :padding 0.2em 0.5em
  #main-content, #page-content
    :border-top none
    :background #FFF
    :padding 0.5em
    :font-size 108%
    h2,h3
      :font-weight normal
    h2,h3,h4
      :color #8F883E
      :padding-left 0
    h4
      :color #4F423B
    a
      h2,h3,h4,h5
        :color #015C82
        /:font-family "Trebuchet MS", arial,helvetica,clean,sans-serif
        :font-family arial,helvetica,clean,sans-serif
        :font-weight bold
    h2
      :margin-top 1em
    img.border
      :border 4px solid #DFD0C3
    ul, ol
      :margin 1.5em 1em
      li
        :margin 0.5em 0
        :list-style-position inside
        ol
          li
            :list-style-type lower-roman
        ul, ol
          :margin-top 0
          :margin-bottom 0
          li
            :margin 0.2em 0

    
#custom-doc, #banner, #breadcrumbs, #nav, #branding, #ft
  :margin auto
  :text-align left
  :width 63.46em
  :*width 61.93em
  :min-width 825px
  
  
#facebox .content
  :width 34.6em
  :min-width 450px
  
#facebox .content.wide
  :width 41em
  :min-width 533px
  img
    :float left
    :display block
    :margin-right 10px
#module
  :margin auto
  :text-align left
  :font-family arial,helvetica,clean,sans-serif
  .section
    :border none
    .section-header
      :font-size 123.1%
      :padding 3px 5px
      :background #F36523
      h3
        :text-transform none !important
    .section-content
      :padding 10px 5px 0
      strong,.strong,h6
        :color #333B3F
  .footer
    :border-size 2px
  address
    :display inline
    :font-style italic
  dl
    :margin 1em 0 0.5em

/ === LINKS === /
a
  &:link, &:active, &:visited
    :color #00557F
    :text-decoration none
  &:hover
    :color #FF7F00
    :text-decoration underline
  &:focus
    :outline none

// === REUSABLE LAYOUT === //

#banner
  :position relative
  :margin-bottom 1em
  #banner-content
    :border 1px solid #9F9A77
    :height 145px
    :background transparent
    #caption-container
      :-moz-border-radius-topright 10px
      :-moz-border-radius-bottomleft 10px
      :-webkit-border-radius-topright 10px
      :-webkit-border-radius-bottomleft 10px
      :position absolute
      :border 2px solid #BFBA9B
      :top 0.5em
      :left 0.5em
      :width 23em
      :color #25190F
      :background url(/images/bg-white.png)
      #caption
        :font-family arial,helvetica,clean,sans-serif
        :padding 0 0.5em
        h4,h5
          :font-family arial,helvetica,clean,sans-serif
          :margin-top 0.5em
        p
          :font-size 85%
          :margin-bottom 0.5em
    
#breadcrumbs
  :font-family arial,helvetica,clean,sans-serif
  :font-size 85%
  :margin-bottom 0.3em
  :padding-top 0em
  :color #7F6F67
  a:link, a:visited
    :text-decoration underline
#ft
  :font-family arial,helvetica,clean,sans-serif
  :margin auto
  :padding 1em 0 0.5em
  :color #999
  :font-size 85%
  ul
    :margin 0
    :padding 0
    li
      :list-style none
      :margin-right 2em
      :display inline

#header
  :font-size 85%
  :background #CCC url(/images/bg-header-chrome.png) repeat-x
  :padding 0
  :margin-bottom 0.8em
  ul#nav
    /:font-family "Trebuchet MS", arial,helvetica,clean,sans-serif
    :font-family arial,helvetica,clean,sans-serif
    :display block
    :padding 0
    :margin 0 auto
    li
      :padding 0
      :list-style none
      :position relative
      :z-index 99
      :text-align center
      :float left
      :background url(/images/bg-white.png)
      :margin 0.2em 0.8em 0.2em 0
      a:link, a:visited
        :display block
        :padding 0.2em 0
        :vertical-align middle
        :color #000
        :font-size 108%
        :padding-right 1.7em !important
        :padding-left 0.9em !important
        :background url(/images/global-nav-arrow-orange.gif) no-repeat right 0.65em
      a:hover
        :background #666 url(/images/bg-header-hover.png)
        :color #FFF
        :text-decoration none
      &.active
        a:link, a:visited
          :background #185F70
          :color #FFF
          :padding-left 1.3em !important
        li
          &.active
            a:link, a:visited
              :background #185F70
              :color #FFF
          a:link, a:visited
            :background #FFF
            :color #333     
          a:hover
            :background #185F70
            :color #FFF
            :text-decoration none
      ul
        :display none
        :position absolute
        :z-index 100
        :left 0
        :top 2em
        :border-left 1px solid #DDD
        :border-right 1px solid #DDD
        :border-bottom 1px solid #DDD
        :margin 0
        :padding 0
        :background-color #FFF
        li
          :margin 0
          :padding 0
          :width 20em
          :font-weight normal
          :float none
          :border none
          :text-align left
          a:link, a:visited
            :background url(/images/bg-white.png)
            :display block
            :padding 0.2em
            :padding-left 1.3em
            :height 1%
          a:hover
            :background #185F70
            :color #FFF
            :text-decoration none

#branding
  :margin-top 1.2em
  :margin-bottom 0.1em
  h1
    :margin 0
  #search-container
    :background #CCC url(/images/bg-header-chrome.png) repeat-x
    :float right
    :margin-top .5em
    #search-form
      :padding 0.2em 0.3em
      :text-align right
      :margin 0
      .text
        :width 71%
      input
        :vertical-align middle
        :background #FFF
        :border 1px solid #185F70      
      #search-button
        :margin 0
        :padding 0
        :font-family arial,helvetica,clean,sans-serif
        :font-size 77%
        :color #FFF
        :background #185F70
        :border 1px solid #185F70
        
#page-header
  :margin 0 0 0.3em 0
  
#page-sub-header
  :margin -0.3em 0 0.3em 0
  :color #7F6F67
  
#sub-page-header
  :margin 0.2em 0 1em 
  :color #7F6F67

.section
  :border 1px solid #E0ECEF
  :margin-bottom 1em
  :background #FFF
  /
    :-moz-border-radius-bottomleft 10px
    :-moz-border-radius-topright 10px
    :-webkit-border-radius-bottomleft 10px
    :-webkit-border-radius-topright 10px
  .section-header
    /
      :-moz-border-radius-topright 10px
      :-webkit-border-radius-topright 10px
    :font-size 77%
    :background #758A95
    :border-bottom 1px solid #999
    :padding 0.2em 0.5em 0.1em
    h3, h4
      :font-weight bold
      :color #EFFCFF !important
      :text-transform uppercase
    h3
      :font-size 116%
      :padding 0
      :margin 0
    h4
      :font-size 93%
      :padding 0
      :margin 0
  .section-content
    :padding 0.5em
    :font-size 93%
    h4.title,h5.title
      :margin 0
      :padding-top 0.1em

ul#page-navigation
  :font-family arial,helvetica,clean,sans-serif
  :margin 0
  li
    :list-style none
    :border-top 1px solid #EEE
    a:link, a:visited
      :height 1%
      :display block
      :padding 0.3em
      :font-size 93%
      :font-weight bold
    &.active
      a:link,a:visited
        :color #FFF
        :background #FF7F00 url(/images/nav-arrow.gif) no-repeat 155px 0em 
      ul 
        :font-size 85%
        :margin 0 0 0 2em
        li.active
          :border none
          a:link,a:visited
            :color #FFF
            :background #FF7F00
        li
          a:link,a:visited
            :background white
            :color #1A4175
          
        
    &.first
      :border-top none
