/ === UTIL CLASSES ===
.align-center
  :text-align center

.align-left
  :text-align left

.align-right
  :text-align right

.back
  :float right
  :margin-top 0.5em

.clear
  :display inline-block
  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden

* html .clear
  height: 1%

.clear, .block
  :display block

.clear-both
  :clear both

.date
  :float right
  :margin-top 0.7em
  :font-size 85%
  :color #AAA

.email
  :background url(/images/email.png) no-repeat
  :padding 1px 0 2px 19px

.float-left
  :float left

.float-right
  :float right

.header-description
  :font-size 93%
  :margin-bottom 0
  :padding-bottom 0.2em
  :color #7F6F67

.hide
  :display none
  
.quiet
  :color #7F6F67

.small
  :font-size 93%

.info
  :font-size 93%
  :color #666

.reset-grid
  :width 100% !important
  :margin-left 0 !important
  :float none !important

div.info
  :line-height 1.6em
  :margin-bottom 1.2em

ul.links
  :margin 0
  :padding 0
  li
    :margin 0
    :padding 0
    :padding-bottom 0.5em
    :list-style none
    :font-weight bold

dl.meetups
  dt
    :margin-top 0.75em
  dd
    :font-size 93%
    :color #666
    :margin-bottom 0.75em

.rickmap
  :width 115px
  :float right
  :font-size 85%
  :text-align center
  a
    :display block
    :height 1%

.strong
  :font-weight bold

.strong-links
  a
    :font-weight bold

dl.two-col
  dt
    :float left
    :width 55px
  dd

.view-more
  :text-align right
  :font-size 85%

.view-all
  :font-size 85%
  :margin-top 0.75em