/ === UTIL CLASSES ===
.align-center
  :text-align center

.align-left
  :text-align left

.align-right
  :text-align right

.back
  :float right
  :margin-top 0.5em
  
#page-header
  .back-link
    :margin-bottom 0
    :margin-top 1em
    :margin-right 0.5em
    :color white
    
.clear
  :display inline-block
  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden

* html .clear
  height: 1%

.clear, .block
  :display block

.clear-both
  :clear both

.date
  :float right
  :font-family arial,helvetica,clean,sans-serif
  :font-size 85%
  :color #A4ABAF
  :margin-top 0.1em
  :margin-bottom 0


.email
  :background url(/images/email.png) no-repeat
  :padding 1px 0 2px 19px
  
.example, .example-sidebar
  :border 2px solid #CBDCDE
  :background #E0EEEF
  :padding 5px
  :margin-bottom 0.5em

.example-sidebar
  :width 260px

ul.features, ul.projects
  :margin 0 !important
  li
    :margin 0
    :list-style none
    :float left
    :margin-right 0.6em
    :width 125px
    :font-family arial,helvetica,clean,sans-serif
    img
      :border 2px solid #DBDBDB
    a:hover
      img
        :border-color #FF7F00
    h5
      :margin 0.1em 0
      :line-height 1em !important
    p
      :font-size 85%
      :line-height 1.3em !important
      :margin-bottom 0
    &.last
      :margin-right 0

ul.projects
  li
    :margin-right 0.6em !important
    :height 19em
    :padding 0

.float-left
  :float left !important
  :margin-right 0.8em

.float-right
  :float right !important
  :margin-left 0.8em

p.float-left, p.float-right
  :margin-bottom 0 !important

.header-description
  :font-size 85%
  :margin-bottom 0
  :padding-bottom 0.2em
  :color #7F6F67

.hide
  :display none
  
.info
  p
    / So continue reading ... doesn't go to a new line.
    :display inline 

div.info
  :line-height 1.6em
  :margin-bottom 1.2em

dl.items
  dt
    :font-family arial,helvetica,clean,sans-serif
    a
      :font-weight normal
  dd
    :margin-bottom 1em

div.item
  :margin-bottom 2em 
  
.list-header
  :font-weight normal
  :margin 1em 0 0 0

ul.links, ul.no-bullets
  li
    :list-style none
    
ul.links
  :margin 0 !important
  li
    :margin-bottom 0.1em !important

dl.meetups
  dt
    :margin-top 0.75em
    :font-weight normal
  dd
    :font-family arial,helvetica,clean,sans-serif
    :font-size 85%
    :color #758A95
    :margin-bottom 0.75em

dl.photo-caption, dl.photo-caption-sm
  :width 130px !important
  :margin-bottom 1em
  dt img
    :padding 2px
    :margin 0
    :border 1px solid #CBDCDE
  dd
    :font-family arial,helvetica,clean,sans-serif
    :margin 0
    :display block
    :font-size 85%
    
dl.photo-caption-sm
  :width 100px !important

.pTop-s
  :padding-top 0.5em
.pTop-m
  :padding-top 1em
.pTop-l
  :padding-top 1.5em

.mTop-s
  :margin-top 0.5em
.mTop-m
  :margin-top 1em
.mTop-l
  :margin-top 1.5em

.p-s
  :padding 0.5em
.p-m
  :padding 1em
.p-l
  :padding 1.5em
  
.indent-s
  :margin-left 0.5em
.indent-m
  :margin-left 1em
.indent-l
  :margin-left 1.5em    
  
.outdent-s
  :margin-left -0.5em
.outdent-m
  :margin-left -1em
.outdent-l
  :margin-left -1.5em

.list-clear
  :display none

dl.people
  dt
    :margin-top 0.75em
    :font-weight normal
  dd
    :color #758A95
    :font-style italic
    :font-size 85%
    :font-family arial,helvetica,clean,sans-serif

dl.photo-summary
  dt
    :float left
    img
      :padding 2px
      :border 1px solid #BFBA9B
  dd
    :margin-left 130px

ol.toggler, ul.toggler
  :margin 0
  :margin-bottom 2em
  :padding 0
  li
    :list-style none
    :margin 0
    :padding 0
    :line-height 1.6em

    strong
      :color #00557F
      :display block
      :margin-top 1em
      :cursor pointer
      :font-weight normal
      &.hover
        :color #FF7F00
        :text-decoration underline
     
          
.quiet
  :color #758A95
      
.rickmap-sm
  :width 56px
  :float left
  
.rickmap
  :width 115px
  :float right
  :font-size 85%
  :font-family arial,helvetica,clean,sans-serif
  
.rickmap, .rickmap-sm
  :text-align center
  a
    :font-family arial,helvetica,clean,sans-serif
    :display block
    :height 1%
    
.reset-grid
  :width 100% !important
  :margin-left 0 !important
  :float none !important

.small
  :font-size 85%
  :font-family arial,helvetica,clean,sans-serif

ul.spaced
  li
    :margin-bottom 0.5em

.strong
  :font-weight bold

.strong-links
  a
    :font-weight bold

td.x2
  :width 50%
td.x3
  :width 33%
td.x4
  :width 25%
table.x2
  td
    :width 50%
table.x3
  td
    :width 33%
table.x4
  td
    :width 25%

.title
  :margin-bottom 0.1em !important
  :padding-bottom 0 !important

.top
  :margin-top 0 !important
  :padding-top 0 !important

dl.two-col
  dt
    :float left
    :width 55px
  dd
  

.view-more
  :text-align right
  :font-size 85%
  :font-family arial,helvetica,clean,sans-serif

.view-all
  :font-family arial,helvetica,clean,sans-serif
  :font-size 85%
  :margin-top 0.5em