
html {
  color: #232323; }

body {
  font-family: Georgia, arial, helvetica, verdana; }

strong, legend {
  font-weight: bold; }

h1, h2, h3, h4, h5 {
  font-family: Arial,Helvetica,Verdana,sans-serif,clean;
  margin: 1em 0;
  font-weight: bold; }
  h1.title,   h2.title,   h3.title,   h4.title,   h5.title {
    margin-bottom: 0; }
  h1.first,   h2.first,   h3.first,   h4.first,   h5.first {
    margin-top: 0; }

h1 {
  font-size: 153.9%; }

h2 {
  font-size: 138.5%; }

h3 {
  font-size: 123.1%;
  margin: 1em 0 0.3em; }

h4 {
  font-size: 108%;
  margin: 1em 0 0.3em; }
  h4.first {
    margin-top: 0.5em; }

h5 {
  font-size: 108%;
  color: #2F2520; }

h6 {
  font-size: 100%;
  font-weight: bold; }

abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

em {
  font-style: italic; }

blockquote {
  margin: 1em;
  padding: 0.5em 35px;
  background: #FFF0DF url(/images/quote.gif) no-repeat left 0.2em;
  font-size: 93%;
  border-top: 1px solid #DFC5A7;
  border-bottom: 1px solid #DFC5A7;
  font-style: italic; }
  blockquote p {
    margin: 0; }

ol, ul {
  margin: 0 1.5em 1.5em; }

ol li {
  list-style: decimal outside; }

ul li {
  list-style: disc outside; }

table {
  width: 99%; }

th, td {
  padding: 0.3em;
  vertical-align: middle;
  border-bottom: 1px solid #E0ECEF; }

th {
  background: #758A95;
  text-transform: uppercase;
  color: white;
  text-align: left;
  font-size: 93%; }

caption {
  margin-bottom: .5em;
  text-align: center; }

p, fieldset, table, pre {
  margin-bottom: 1em; }

p {
  line-height: 1.6em; }


input[type=text], input[type=password], textarea {
  width: 12.25em;
  *width: 11.9em; }
