
h1 {
  font-size: 197%;
  letter-spacing: -2px; }

h2 {
  font-size: 174%;
  letter-spacing: -1px; }

h3 {
  font-size: 123.1%; }

h4 {
  font-size: 108%; }

h1, h2, h3 {
  margin: 1em 0; }
  h1.title,   h2.title,   h3.title {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, strong, legend {
  font-weight: bold; }

abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

em {
  font-style: italic; }

blockquote, ul, ol {
  margin: 1em; }

ol, ul {
  margin-left: 2em; }

ol li {
  list-style: decimal outside; }

ul li {
  list-style: disc outside; }

th, td {
  border-bottom: 2px solid #ACF6F7;
  padding: .5em; }

th {
  font-weight: bold;
  text-align: center; }

caption {
  margin-bottom: .5em;
  text-align: center; }

p, fieldset, table, pre {
  margin-bottom: 1em; }


input[type=text], input[type=password], textarea {
  width: 12.25em;
  *width: 11.9em; }
