


#progress {
  height: 223px;
  background: url(/images/event_steps_vertical.png) no-repeat;
  text-indent: -6000px;
  position: relative; }
  #progress.step-2 {
    background-position: left -224px; }
  #progress.step-3 {
    background-position: left -449px; }
  #progress.step-4 {
    background-position: left -674px; }
  #progress.step-5 {
    background-position: left -899px; }
  #progress h4 {
    margin: 0;
    padding: 0; }


table.registration {
  width: 99%; }
  table.registration td.select {
    text-align: center; }
  table.registration td.type {
    width: 18em; }
  table.registration th {
    text-align: left;
    vertical-align: bottom; }
  table.registration th span, table.registration td span {
    font-weight: normal;
    font-size: 85%;
    color: #8F806B; }

.attendee {
  padding: 0.5em 0; }
  .attendee.even {
    border-top: 1px solid #CFF0FF;
    border-bottom: 1px solid #CFF0FF; }
  .attendee h4 {
    color: #B6986A;
    font-size: 85%;
    text-transform: uppercase; }
  .attendee .field {
    float: left;
    margin-right: 1em; }
    .attendee .field input.text {
      width: 12em; }
    .attendee .field.vegetarian {
      padding-top: 1.5em;
      font-size: 93%; }


#table-name-container {
  margin: 0.5em 0; }

input#set_table_name {
  width: 20.7em; }

#contact-info input.text, #payment input.text {
  width: 25em; }


#card_verification_value {
  width: 3em !important; }


table#registered-attendees {
  width: 99%; }
  table#registered-attendees th, table#registered-attendees td {
    text-align: left; }
