

.event-page {
  padding-top: 2em !important; }
  .event-page h1, .event-page h2, .event-page h3, .event-page h4 {
    font-family: arial,helvetica,clean,sans-serif; }
  .event-page h4 {
    font-weight: bold; }
  .event-page #ft {
    color: #A9A9A9; }

.prosperity #event-logo {
  text-align: center;
  margin-top: 1em; }
  .prosperity #event-logo img {
    width: 167px;
    margin: auto; }
.prosperity #event-container {
  padding: 1em 0;
  background: #003F77; }
.prosperity #main-content-container {
  margin-right: 1em;
  background: #FFF url(/images/pp-circles.png) no-repeat center 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 1em;
  padding-top: 120px; }
.prosperity #main-content-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: #003F77; }
  .prosperity #main-content-wrapper #main-content {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; }
.prosperity #page-header {
  color: #FFF; }
.prosperity #page-sub-header {
  color: #C2E0EF; }
.prosperity #pp-photos-cont {
  background: #FFF;
  padding: 1em 0; }
.prosperity h4 {
  color: #003F77; }
.prosperity th {
  background: #003F77;
  color: #EFFAFF; }
.prosperity td {
  border-color: #E9E9E9; }


#progress {
  margin-right: -1em;
  height: 33px;
  background: #DFF0F7 url(/images/event_steps.gif) no-repeat;
  text-indent: -6000px;
  position: relative; }
  #progress.step-2 {
    background-position: left -47px; }
  #progress.step-3 {
    background-position: left -94px; }
  #progress.step-4 {
    background-position: left -141px; }
  #progress.step-5 {
    background-position: left -188px; }
  #progress h4 {
    margin: 0;
    padding: 0; }


table.registration {
  width: 99%; }
  table.registration td.select {
    text-align: center; }
  table.registration td.type {
    width: 18em; }
  table.registration th {
    text-align: left;
    vertical-align: bottom; }
  table.registration th span, table.registration td span {
    font-weight: normal;
    font-size: 85%;
    color: #8F806B; }

.attendee {
  padding: 0.5em 0; }
  .attendee.even {
    border-top: 1px solid #CFF0FF;
    border-bottom: 1px solid #CFF0FF; }
  .attendee h4 {
    color: #B6986A;
    font-size: 85%;
    text-transform: uppercase; }
  .attendee .field {
    float: left;
    margin-right: 1em; }
    .attendee .field input.text {
      width: 12em; }
    .attendee .field.vegetarian {
      padding-top: 1.5em;
      font-size: 93%; }


#table-name-container {
  margin: 0.5em 0; }

input#set_table_name {
  width: 20.7em; }

#contact-info input.text, #payment input.text {
  width: 25em; }


#card_verification_value {
  width: 3em !important; }


table#registered-attendees {
  width: 99%; }
  table#registered-attendees th, table#registered-attendees td {
    text-align: left; }
