

html {
  color: #2F2520; }

h5, h6, strong, legend {
  font-weight: bold; }

h1, h2, h3, h4 {
  margin: 1em 0; }
  h1.title,   h2.title,   h3.title,   h4.title {
    margin-bottom: 0; }
  h1.first,   h2.first,   h3.first,   h4.first {
    margin-top: 0; }

h1 {
  font-size: 197%; }

h2 {
  font-size: 174%; }

h3 {
  font-size: 146.5%;
  margin: 1em 0 0.3em; }

h4 {
  font-size: 123.1%;
  margin: 1em 0 0.3em;
  font-weight: bold; }
  h4.first {
    margin-top: 0.5em; }

abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

em {
  font-style: italic; }

blockquote, ul, ol {
  margin: 1em; }

ol, ul {
  margin-left: 2em; }

ol li {
  list-style: decimal outside; }

ul li {
  list-style: disc outside; }

th, td {
  padding: 0.3em;
  vertical-align: middle;
  border-bottom: 1px solid #CFF0FF; }

thead {
  background: #185F70;
  color: #FFF; }

th {
  font-weight: bold;
  text-align: center; }

caption {
  margin-bottom: .5em;
  text-align: center; }

p, fieldset, table, pre {
  margin-bottom: 1em; }

p {
  line-height: 1.6em; }

input[type=text], input[type=password], textarea {
  width: 12.25em;
  *width: 11.9em; }

a:link, a:active {
  color: #1A4175;
  text-decoration: none; }
a:visited {
  color: #355C8F;
  text-decoration: none; }
a:hover {
  color: #FF7F00;
  text-decoration: underline; }
a:focus {
  outline: none; }

#custom-doc, #psrc-logo, #branding, #ft {
  margin: auto;
  text-align: left;
  width: 63.46em;
  *width: 61.93em;
  min-width: 825px; }

.event-page h1, .event-page h2, .event-page h3, .event-page h4 {
  font-family: arial,helvetica,clean,sans-serif; }
.event-page h4 {
  font-weight: bold; }
.event-page #ft {
  color: #A9A9A9; }

#ft {
  margin: auto;
  padding: 1em 0 0.5em;
  color: #999;
  font-size: 85%;
  text-align: right; }
  #ft ul {
    margin: 0;
    padding: 0; }
    #ft ul li {
      list-style: none;
      margin-right: 2em;
      display: inline; }


#main-content-wrapper {
  background: #185F70;
  color: #333; }
  #main-content-wrapper #main-content {
    border: 1px solid #E9E9E9;
    border-top: 1px solid #CCC;
    background: #FFF;
    padding: 10px; }
  #main-content-wrapper #page-content {
    padding: 1em 1em 0.5em 1em;
    border: 1px solid #EEE;
    border-top: 1px solid #CCC; }

#page-header, #page-sub-header {
  margin: 0 0 0 10px; }

#page-header {
  color: #FFF;
  font-size: 146.5%;
  padding-top: 5px; }

#page-sub-header {
  color: #B5CACF;
  padding-bottom: 5px;
  font-size: 132%; }


#psrc-logo {
  text-align: left;
  margin-top: 1em; }

#branding-banner {
  background: #FFF url(/images/bg-header-chrome.png) repeat-x; }

#event-banner {
  margin: 1em 0;
  background: url(/images/assembly.png) repeat-x center center;
  border: 1px solid #CBDCDE;
  height: 145px; }

#event-branding-progress {
  position: relative; }

ol#progress {
  margin: 0;
  margin-top: 1em;
  position: absolute;
  right: -1.15em;
  width: 100%; }
  ol#progress li {
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    margin: 0.5em 0;
    background-color: #E0EEEF;
    background-repeat: no-repeat;
    background-position: 0.15em 0.25em;
    padding: 0.4em 0;
    color: #333;
    padding-left: 2em;
    list-style: none; }
  ol#progress li.step-1 {
    background-image: url(/images/step-1.png); }
  ol#progress li.step-2 {
    background-image: url(/images/step-2.png); }
  ol#progress li.step-3 {
    background-image: url(/images/step-3.png); }
  ol#progress li.step-4 {
    background-image: url(/images/step-4.png); }
  ol#progress li.step-5 {
    background-image: url(/images/step-5.png); }
  ol#progress li.step-6 {
    background-image: url(/images/step-6.png); }
  ol#progress li.current {
    color: white;
    background-color: #185F70; }


table.registration {
  width: 99%; }
  table.registration td.select {
    text-align: right;
    padding-right: 10px; }
  table.registration td.type {
    width: 18em; }
  table.registration th {
    text-align: left;
    vertical-align: bottom; }
  table.registration th span, table.registration td span {
    font-weight: normal;
    font-size: 85%;
    color: #8F806B; }

.attendee {
  padding: 0.7em 0; }
  .attendee.even {
    border-top: 1px solid #CFF0FF;
    border-bottom: 1px solid #CFF0FF; }
  .attendee h4 {
    color: #B6986A;
    font-size: 85%;
    text-transform: uppercase; }
  .attendee .field {
    float: left;
    margin-right: 1em; }
    .attendee .field input.text {
      width: 11.5em; }
  .attendee .vegetarian {
    clear: left;
    font-size: 93%; }


#table-name-container {
  margin: 0.5em 0; }

input#set_table_name {
  width: 20.7em; }

#contact-info input.text, #payment input.text {
  width: 25em; }


#card_verification_value, #card_zip {
  width: 3.5em !important; }


ul#menu-options {
  margin-left: 0;
  margin-bottom: 3em; }
  ul#menu-options li {
    list-style: none; }
    ul#menu-options li * {
      vertical-align: middle; }


table#registered-attendees {
  width: 99%; }
  table#registered-attendees th, table#registered-attendees td {
    text-align: left; }

h4.title .hint {
  font-size: 68%;
  color: #7F6F67;
  font-weight: normal;
  letter-spacing: 0; }

.prosperity .event-page {
  padding-top: 2em; }
.prosperity h4 {
  color: #1A4175 !important; }
.prosperity th {
  background: #1A4175;
  color: #EFFAFF; }
.prosperity td {
  border-color: #E9E9E9; }
.prosperity #event-logo {
  text-align: center;
  margin-top: 1em; }
  .prosperity #event-logo img {
    width: 167px;
    margin: auto; }
.prosperity #event-container {
  padding: 1em 0;
  background: #1A4175; }
.prosperity #main-content-container {
  margin-right: 1em;
  background: #FFF url(/images/pp-circles.png) no-repeat center 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 1em;
  padding-top: 120px; }
.prosperity #main-content-wrapper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: #1A4175;
  padding: 1em;
  border: none; }
  .prosperity #main-content-wrapper #main-content {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; }
.prosperity ol#progress li {
  background-color: #566A9A;
  color: white; }
  .prosperity ol#progress li li.step-1 {
    background-image: url(/images/step-1.gif); }
  .prosperity ol#progress li li.step-2 {
    background-image: url(/images/step-2.gif); }
  .prosperity ol#progress li li.step-3 {
    background-image: url(/images/step-3.gif); }
  .prosperity ol#progress li li.step-4 {
    background-image: url(/images/step-4.gif); }
  .prosperity ol#progress li li.step-5 {
    background-image: url(/images/step-5.gif); }
  .prosperity ol#progress li.current {
    background-color: white;
    color: #333; }
.prosperity #page-header, .prosperity #page-sub-header {
  margin-left: 0; }
.prosperity #page-header {
  color: #FFF; }
.prosperity #page-sub-header {
  color: #C2E0EF;
  padding-bottom: 10px; }
.prosperity #ft {
  text-align: left; }
