
.btn-holder {
  padding-bottom: 1em;
  padding: 0.5em; }

select, textarea, input.text {
  background: #FFF url(/images/bg_inputs.png) repeat-x;
  color: #1C1C1C;
  border-color: #C6C6C6 #C6C6C6 #E3E3E3;
  border-width: 1px;
  border-style: solid;
  padding: 0.2em; }

textarea {
  height: 10em; }

textarea.full {
  width: 99%;
  height: 25em; }

input.default-text {
  color: #999;
  font-style: italic; }

input.input-focus {
  color: #1C1C1C;
  font-style: normal; }

input.title {
  font-size: 123.1%;
  font-weight: bold; }

select {
  margin-bottom: 0.2em; }

form dt, form dd {
  margin: 0;
  padding: 0; }
form dt label {
  font-size: 93%;
  font-weight: bold; }
form dt span {
  color: #756B5B;
  font-size: 85%; }
form dd {
  margin-bottom: 0.5em; }
form hr {
  noshade: noshade; }
