#header, #search-container, #ft ul, #banner-content {
  display:none;
}
#branding { margin: 0 auto 1.5em auto }

h1, h2, h3, h4 { color: black !important; }

#ft { position: absolute; top: 27px; }
#ft ul { display:none; }
