

html {
  background: #F3F3F3;
  color: #464037;
  border-top: 5px solid #E99A17;
  padding-top: 2em; }

#custom-doc {
  background: #FFF;
  padding: 1em;
  margin: auto;
  text-align: left;
  width: 63.46em;
  *width: 61.93em;
  min-width: 825px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px; }


a:link, a:active {
  color: #367CAF;
  text-decoration: none; }
a:visited {
  color: #67A3CF;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
a:focus {
  outline: none; }

.section {
  margin-bottom: 2em; }
  .section .section-content {
    padding: 0.5em; }
  .section h2, .section h3 {
    margin: 0;
    padding: 0;
    background: #ACF6F7;
    color: #055959;
    padding: 0.1em 0.4em; }


.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.clear {
  display: inline-block; }
  .clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

* html .clear {
  height: 1%; }

.clear, .block {
  display: block; }

.clear-both {
  clear: both; }

.email {
  background: url(/images/email.png) no-repeat;
  padding: 1px 0 2px 19px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide {
  display: none; }

.quiet {
  color: #afa699; }

.small {
  font-size: 93%; }

.strong {
  font-weight: bold; }

.strong-links a {
  font-weight: bold; }

dl.two-col dt {
  float: left;
  width: 55px; }

.view-more {
  text-align: right;
  font-size: 85%; }


.btn-holder {
  padding-bottom: 1em;
  padding: 0.5em; }

select, textarea, input.text {
  background: #FFF url(/images/bg_inputs.png) repeat-x;
  color: #1C1C1C;
  border-color: #C6C6C6 #C6C6C6 #E3E3E3;
  border-width: 1px;
  border-style: solid;
  padding: 0.2em; }

textarea {
  height: 10em; }

input.default-text {
  color: #999;
  font-style: italic; }

input.input-focus {
  color: #1C1C1C;
  font-style: normal; }

input.title {
  font-size: 123.1%;
  font-weight: bold; }

select {
  margin-bottom: 0.2em; }

form dt label {
  font-size: 93%;
  font-weight: bold; }
form dt span {
  color: #756B5B;
  font-size: 85%; }
form dd {
  margin-bottom: 0.5em; }
form hr {
  noshade: noshade; }


.notice, .success, .error {
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.8em; }
  .notice a,   .success a,   .error a {
    font-weight: bold; }
  .notice h2,   .success h2,   .error h2 {
    padding: 0;
    margin: 0;
    text-transform: capitalize; }

.errorExplanation {
  background: #FBE3E4;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  text-align: center;
  font-weight: bold; }
  .errorExplanation h2 {
    margin: 0; }

.error {
  background: #CF001D;
  color: #FFF; }

.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    background: #FFDFE1; }


#event-registration {
  padding: 0 5em; }

#progress {
  height: 37px;
  margin-bottom: 2em;
  margin-top: 0.5em;
  background: #ACF6F7 url(/images/event_steps.gif) no-repeat;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  text-indent: -6000px;
  position: relative; }
  #progress.step-2 {
    background-position: left -54px; }
  #progress.step-3 {
    background-position: left -108px; }
  #progress.step-4 {
    background-position: left -162px; }
  #progress.step-5 {
    background-position: left -216px; }
  #progress h4 {
    padding-top: 10px; }


table.registration {
  width: 99%; }
  table.registration td.select {
    text-align: center; }
  table.registration th {
    text-align: left;
    vertical-align: bottom; }
  table.registration th span, table.registration td span {
    font-weight: normal;
    font-size: 85%;
    color: #afa699; }

.attendee {
  padding: 0.5em 0; }
  .attendee.even {
    border-top: 1px solid #ACF6F7;
    border-bottom: 1px solid #ACF6F7; }
  .attendee h4 {
    color: #B6986A;
    font-size: 85%;
    text-transform: uppercase; }
  .attendee .field {
    float: left;
    margin-right: 1em; }
    .attendee .field input.text {
      width: 12em; }
    .attendee .field.vegetarian {
      padding-top: 1.5em;
      font-size: 93%; }


input#attendees_table_name {
  width: 27.5em; }

#contact-info input.text {
  width: 25em; }

#ft {
  margin-top: 3em;
  border-top: 1px solid #F4CD8B;
  padding: 0.5em 0; }
