


#main-content-wrapper {
  background: #FFF;
  -moz-border-radius-topright: 10px;
  -webkit-border-radius-topright: 10px; }
  #main-content-wrapper #page-header {
    background: #CBDCDE;
    color: #000;
    font-weight: normal;
    font-size: 168%; }
  #main-content-wrapper h2 {
    color: #185F70;
    margin: 0;
    padding: 0.2em 0.5em; }
  #main-content-wrapper #main-content, #main-content-wrapper #page-content {
    border-top: none;
    background: #FFF;
    padding: 0.5em;
    font-size: 108%; }
    #main-content-wrapper #main-content *,     #main-content-wrapper #page-content * {
      line-height: 1.8em; }
    #main-content-wrapper #main-content h2, #main-content-wrapper #main-content h3,     #main-content-wrapper #page-content h2, #main-content-wrapper #page-content h3 {
      font-weight: normal; }
    #main-content-wrapper #main-content h2, #main-content-wrapper #main-content h3, #main-content-wrapper #main-content h4,     #main-content-wrapper #page-content h2, #main-content-wrapper #page-content h3, #main-content-wrapper #page-content h4 {
      color: #8F883E;
      padding-left: 0; }
    #main-content-wrapper #main-content h4,     #main-content-wrapper #page-content h4 {
      color: #4F423B; }
    #main-content-wrapper #main-content a h2, #main-content-wrapper #main-content a h3, #main-content-wrapper #main-content a h4, #main-content-wrapper #main-content a h5,     #main-content-wrapper #page-content a h2, #main-content-wrapper #page-content a h3, #main-content-wrapper #page-content a h4, #main-content-wrapper #page-content a h5 {
      color: #015C82;
      font-family: arial,helvetica,clean,sans-serif;
      font-weight: bold; }
    #main-content-wrapper #main-content h2,     #main-content-wrapper #page-content h2 {
      margin-top: 1em; }
    #main-content-wrapper #main-content img.border,     #main-content-wrapper #page-content img.border {
      border: 4px solid #DFD0C3; }
    #main-content-wrapper #main-content ul li,     #main-content-wrapper #main-content ol li,     #main-content-wrapper #page-content ul li,     #main-content-wrapper #page-content ol li {
      margin-bottom: 0.7em; }
      #main-content-wrapper #main-content ul li ol li,       #main-content-wrapper #main-content ol li ol li,       #main-content-wrapper #page-content ul li ol li,       #main-content-wrapper #page-content ol li ol li {
        list-style-type: lower-roman; }

#custom-doc, #banner, #breadcrumbs, #nav, #branding, #ft {
  margin: auto;
  text-align: left;
  width: 63.46em;
  *width: 61.93em;
  min-width: 825px; }

#facebox .content {
  width: 34.6em;
  min-width: 450px; }

#facebox .content.wide {
  width: 37em;
  min-width: 481px; }
  #facebox .content.wide img {
    float: left;
    display: block;
    margin-right: 10px; }

#module {
  margin: auto;
  text-align: left;
  font-family: arial,helvetica,clean,sans-serif; }
  #module .section {
    border: none; }
    #module .section .section-header {
      font-size: 123.1%;
      padding: 3px 5px;
      background: #F36523; }
      #module .section .section-header h3 {
        text-transform: none !important; }
    #module .section .section-content {
      padding: 10px 5px 0; }
      #module .section .section-content strong, #module .section .section-content .strong, #module .section .section-content h6 {
        color: #333B3F; }
  #module .footer {
    border-size: 2px; }
  #module address {
    display: inline;
    font-style: italic; }
  #module dl {
    margin: 1em 0 0.5em; }


a:link, a:active, a:visited {
  color: #00557F;
  text-decoration: none; }
a:hover {
  color: #FF7F00;
  text-decoration: underline; }
a:focus {
  outline: none; }

#banner {
  position: relative;
  margin-bottom: 1em; }
  #banner #banner-content {
    border: 1px solid #9F9A77;
    height: 145px;
    background: transparent; }
    #banner #banner-content #caption-container {
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-radius-topright: 10px;
      -webkit-border-radius-bottomleft: 10px;
      position: absolute;
      border: 2px solid #BFBA9B;
      top: 0.5em;
      left: 0.5em;
      width: 23em;
      color: #25190F;
      background: url(/images/bg-white.png); }
      #banner #banner-content #caption-container #caption {
        font-family: arial,helvetica,clean,sans-serif;
        padding: 0 0.5em; }
        #banner #banner-content #caption-container #caption h4, #banner #banner-content #caption-container #caption h5 {
          font-family: arial,helvetica,clean,sans-serif;
          margin-top: 0.5em; }
        #banner #banner-content #caption-container #caption p {
          font-size: 85%;
          margin-bottom: 0.5em; }

#breadcrumbs {
  font-family: arial,helvetica,clean,sans-serif;
  font-size: 85%;
  margin-bottom: 0.3em;
  padding-top: 0em;
  color: #7F6F67; }
  #breadcrumbs a:link, #breadcrumbs a:visited {
    text-decoration: underline; }

#ft {
  font-family: arial,helvetica,clean,sans-serif;
  margin: auto;
  padding: 1em 0 0.5em;
  color: #999;
  font-size: 85%; }
  #ft ul {
    margin: 0;
    padding: 0; }
    #ft ul li {
      list-style: none;
      margin-right: 2em;
      display: inline; }

#header {
  font-size: 85%;
  background: #CCC url(/images/bg-header-chrome.png) repeat-x;
  padding: 0;
  margin-bottom: 0.8em; }
  #header ul#nav {
    font-family: arial,helvetica,clean,sans-serif;
    display: block;
    padding: 0;
    margin: 0 auto; }
    #header ul#nav li {
      padding: 0;
      list-style: none;
      position: relative;
      z-index: 99;
      text-align: center;
      float: left;
      background: url(/images/bg-white.png);
      margin: 0.2em 0.8em 0.2em 0; }
      #header ul#nav li a:link, #header ul#nav li a:visited {
        display: block;
        padding: 0.2em 0;
        vertical-align: middle;
        color: #000;
        font-size: 108%;
        padding-right: 1.7em !important;
        padding-left: 0.9em !important;
        background: url(/images/global-nav-arrow-orange.gif) no-repeat right 0.65em; }
      #header ul#nav li a:hover {
        background: #666 url(/images/bg-header-hover.png);
        color: #FFF;
        text-decoration: none; }
      #header ul#nav li.active a:link, #header ul#nav li.active a:visited {
        background: #185F70;
        color: #FFF;
        padding-left: 1.3em !important; }
      #header ul#nav li.active li.active a:link, #header ul#nav li.active li.active a:visited {
        background: #185F70;
        color: #FFF; }
      #header ul#nav li.active li a:link, #header ul#nav li.active li a:visited {
        background: #FFF;
        color: #333; }
      #header ul#nav li.active li a:hover {
        background: #185F70;
        color: #FFF;
        text-decoration: none; }
      #header ul#nav li ul {
        display: none;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 2em;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin: 0;
        padding: 0;
        background-color: #FFF; }
        #header ul#nav li ul li {
          margin: 0;
          padding: 0;
          width: 20em;
          font-weight: normal;
          float: none;
          border: none;
          text-align: left; }
          #header ul#nav li ul li a:link, #header ul#nav li ul li a:visited {
            background: url(/images/bg-white.png);
            display: block;
            padding: 0.2em;
            padding-left: 1.3em;
            height: 1%; }
          #header ul#nav li ul li a:hover {
            background: #185F70;
            color: #FFF;
            text-decoration: none; }

#branding {
  margin-top: 1.2em;
  margin-bottom: 0.1em; }
  #branding h1 {
    margin: 0; }
  #branding #search-container {
    background: #CCC url(/images/bg-header-chrome.png) repeat-x;
    float: right;
    margin-top: .5em; }
    #branding #search-container #search-form {
      padding: 0.2em 0.3em;
      text-align: right;
      margin: 0; }
      #branding #search-container #search-form .text {
        width: 71%; }
      #branding #search-container #search-form input {
        vertical-align: middle;
        background: #FFF;
        border: 1px solid #185F70; }
      #branding #search-container #search-form #search-button {
        margin: 0;
        padding: 0;
        font-family: arial,helvetica,clean,sans-serif;
        font-size: 77%;
        color: #FFF;
        background: #185F70;
        border: 1px solid #185F70; }

#page-header {
  margin: 0 0 0.3em 0; }

#page-sub-header {
  margin: -0.3em 0 0.3em 0;
  color: #7F6F67; }

#sub-page-header {
  margin: 0.2em 0 1em;
  color: #7F6F67; }

.section {
  border: 1px solid #E0ECEF;
  margin-bottom: 1em;
  background: #FFF; }
  .section / {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius-bottomleft: 10px;
    -webkit-border-radius-topright: 10px; }
  .section .section-header {
    font-size: 77%;
    background: #758A95;
    border-bottom: 1px solid #999;
    padding: 0.2em 0.5em 0.1em; }
    .section .section-header / {
      -moz-border-radius-topright: 10px;
      -webkit-border-radius-topright: 10px; }
    .section .section-header h3, .section .section-header h4 {
      font-weight: bold !important;
      color: #EFFCFF !important;
      text-transform: uppercase !important;
      line-height: 1.2em !important; }
    .section .section-header h3 {
      font-size: 123%;
      padding: 0;
      margin: 0; }
    .section .section-header h4 {
      font-size: 93%;
      padding: 0;
      margin: 0; }
  .section .section-content {
    padding: 0.8em;
    font-size: 93%; }
    .section .section-content * {
      line-height: 1.3em !important; }
    .section .section-content h4.title, .section .section-content h5.title {
      margin: 0;
      padding-top: 0.1em; }
    .section .section-content ul li,     .section .section-content ol li {
      margin-bottom: 0.35em !important; }

ul#page-navigation {
  font-family: arial,helvetica,clean,sans-serif;
  margin: 0; }
  ul#page-navigation li {
    list-style: none;
    border-top: 1px solid #EEE; }
    ul#page-navigation li a:link, ul#page-navigation li a:visited {
      height: 1%;
      display: block;
      padding: 0.3em;
      font-size: 93%;
      font-weight: bold; }
    ul#page-navigation li ul {
      margin: 0; }
    ul#page-navigation li.active a:link, ul#page-navigation li.active a:visited {
      color: #FFF;
      background: #FF7F00 url(/images/nav-arrow.gif) no-repeat 155px 0em; }
    ul#page-navigation li.active ul {
      font-size: 85%;
      margin: 0 0 0 2em; }
      ul#page-navigation li.active ul li.active {
        border: none; }
        ul#page-navigation li.active ul li.active a:link, ul#page-navigation li.active ul li.active a:visited {
          border-top: 1px solid #FFB255;
          color: #FFF;
          background: #FF7F00; }
      ul#page-navigation li.active ul li a:link, ul#page-navigation li.active ul li a:visited {
        background: white;
        color: #1A4175; }
    ul#page-navigation li.first {
      border-top: none; }


.yui-gc .first table, .yui-ge .first table {
  width: 400px !important; }
