



#main-content-wrapper {
  background: #BDE9FF;
  -moz-border-radius: 8px;
  padding: 1em;
  padding-top: 0.9em; }
  #main-content-wrapper #main-content {
    background: #FFF;
    padding: 1em; }

#custom-doc, #banner, #breadcrumbs, #header-content, #logo, #ft {
  margin: auto;
  text-align: left;
  width: 63.46em;
  *width: 61.93em;
  min-width: 825px; }


a:link, a:active {
  color: #277D9F;
  text-decoration: none; }
a:visited {
  color: #5AAECF;
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
a:focus {
  outline: none; }

#banner {
  border: 1px solid #7BD3F7;
  margin-bottom: 1em; }
  #banner #banner-content {
    height: 135px;
    border: 3px solid #BDE9FF;
    background: url(/images/banner2.jpg) no-repeat center center; }

#breadcrumbs {
  font-size: 85%;
  margin-bottom: 0.5em;
  color: #7F6F67; }
  #breadcrumbs a:link, #breadcrumbs a:visited {
    text-decoration: underline; }

#ft {
  margin: auto;
  padding: 0.5em 0; }
  #ft ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    #ft ul li {
      font-size: 85%;
      list-style: none;
      margin-right: 2em;
      display: inline; }
      #ft ul li a:link, #ft ul li a:visited {
        color: #9E8B71; }

#header {
  font-family: arial,helvetica,clean,sans-serif;
  font-weight: bold;
  font-size: 93%;
  background: #F69220;
  margin-bottom: 1em; }
  #header ul#header-content li {
    float: left;
    margin: 0.4em 0;
    margin-right: 1em;
    padding: 0;
    list-style: none;
    line-height: 1.6em; }
    #header ul#header-content li a:link, #header ul#header-content li a:visited {
      color: #FFEFDF;
      padding: 0.3em 0.4em;
      -moz-border-radius: 3px; }
    #header ul#header-content li a:hover {
      background: #F58E27;
      text-decoration: none; }
    #header ul#header-content li.current a:link, #header ul#header-content li.current a:visited {
      background: #EFD027;
      color: #442011;
      font-weight: bold; }

#logo {
  margin-top: 1.2em;
  margin-bottom: 0.1em; }
  #logo h1 {
    margin: 0; }

#page-content {
  background: #FFF;
  padding: 1em 1em 0.5em 1em; }

#page-header {
  margin: 0 0 0.3em 0; }

#sub-page-header {
  margin: 0.2em 0 1em;
  color: #7F6F67; }

.section {
  margin-bottom: 2em; }
  .section .section-content {
    padding: 0.5em; }
  .section h2, .section h3 {
    margin: 0;
    padding: 0;
    background: #ACF6F7;
    color: #055959;
    padding: 0.1em 0.4em; }

.photo-caption-left {
  float: left;
  margin-right: 0.5em; }

.photo-caption-right {
  float: right;
  margin-left: 0.5em; }

.photo-caption-left dt, .photo-caption-right dt {
  margin: 0;
  padding: 0;
  background: white;
  padding: 0.3em 0.3em 0 0.3em;
  border: 1px solid #EEE; }
  .photo-caption-left dt img,   .photo-caption-right dt img {
    padding: 0;
    margin: 0; }
.photo-caption-left dd, .photo-caption-right dd {
  color: #684234;
  font-size: 85%;
  font-style: italic;
  padding: 0.2em; }

ul#page-navigation {
  -moz-border-radius: 8px;
  background: #BCD95E;
  margin: 0;
  padding: 0; }
  ul#page-navigation li {
    list-style: none;
    border-top: 1px solid #AFCF4D; }
    ul#page-navigation li a:link, ul#page-navigation li a:visited {
      height: 1%;
      display: block;
      font-weight: bold;
      color: #676F22;
      padding: 0.25em 0.4em;
      font-size: 93%; }
    ul#page-navigation li.active {
      background: url(/images/nav-arrow.gif) no-repeat 155px 0.4em; }
      ul#page-navigation li.active a:link, ul#page-navigation li.active a:visited {
        color: #2F2520; }
    ul#page-navigation li.first {
      border-top: none; }


.notice, .success, .error {
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.8em; }
  .notice a,   .success a,   .error a {
    font-weight: bold; }
  .notice h2,   .success h2,   .error h2 {
    padding: 0;
    margin: 0;
    text-transform: capitalize; }

.errorExplanation {
  background: #FBE3E4;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  text-align: center;
  font-weight: bold; }
  .errorExplanation h2 {
    margin: 0; }

.error {
  background: #CF001D;
  color: #FFF; }

.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors input {
    background: #FFDFE1; }
