/*
Sass::SyntaxError: Invalid attribute: ":margin-right ".
on line 77 of /Users/jordanisip/Documents/Rails/psrc/public/stylesheets/sass/util.sass

73: ul.projects
74:   li
75:     :height 23em
76:     :padding 0.6em
77:     :margin-right 
78: 
79: .float-left
80:   :float left
81: 
82: .float-right
83:   :float right


Backtrace:
/Users/jordanisip/Documents/Rails/psrc/public/stylesheets/sass/util.sass:77
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/attr_node.rb:20:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:75:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:75:in `map'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:75:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:83:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:82:in `each'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/rule_node.rb:82:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/node.rb:26:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/node.rb:22:in `each'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/tree/node.rb:22:in `to_s'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/engine.rb:88:in `render'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/plugin.rb:61:in `update_stylesheets'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/plugin.rb:46:in `each'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/plugin.rb:46:in `update_stylesheets'
/Users/jordanisip/Documents/Rails/psrc/vendor/plugins/haml/lib/sass/plugin/rails.rb:16:in `process'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/rescue.rb:55:in `process_with_exception'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:188:in `failsafe_rescue'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:49:in `failsafe_response'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:186:in `failsafe_rescue'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:117:in `dispatch'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:126:in `dispatch_cgi'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/actionpack/lib/action_controller/dispatcher.rb:9:in `dispatch'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/bin/../lib/mongrel/rails.rb:76:in `process'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/bin/../lib/mongrel/rails.rb:74:in `synchronize'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/bin/../lib/mongrel/rails.rb:74:in `process'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:159:in `process_client'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:158:in `each'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:158:in `process_client'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:285:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:285:in `initialize'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:285:in `new'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:285:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:268:in `initialize'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:268:in `new'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel.rb:268:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel/configurator.rb:282:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel/configurator.rb:281:in `each'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel/configurator.rb:281:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/bin/mongrel_rails:131:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/lib/mongrel/command.rb:212:in `run'
/standard-rails/install/lib/ruby/gems/1.8/gems/mongrel-1.1.3/bin/mongrel_rails:284
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:489:in `load'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:489:in `load'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:342:in `new_constants_in'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:489:in `load'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/railties/lib/commands/servers/mongrel.rb:64
/standard-rails/install//lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:27:in `gem_original_require'
/standard-rails/install//lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:27:in `require'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:496:in `require'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:342:in `new_constants_in'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/activesupport/lib/active_support/dependencies.rb:496:in `require'
/Users/jordanisip/Documents/Rails/psrc/vendor/rails/railties/lib/commands/server.rb:39
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Invalid attribute: \":margin-right \".\A on line 77 of /Users/jordanisip/Documents/Rails/psrc/public/stylesheets/sass/util.sass\A \A 73: ul.projects\A 74:   li\A 75:     :height 23em\A 76:     :padding 0.6em\A 77:     :margin-right \A 78: \A 79: .float-left\A 80:   :float left\A 81: \A 82: .float-right\A 83:   :float right\A "; }
