html {
  background-color: gray; }

body {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5em;
  padding: 0.5em;
  width: 66em;
  margin: 1em auto;
  background-color: white;
  position: relative; }

html>body {
  font-size: 12px; }

h1 {
  margin-top: -0.333333em;
  margin-left: -0.3333333em;
  margin-right: -0.3333333em;
  
  font-size: 1.666666666666em;
  line-height: 3.6em;
  margin-bottom: 0.9em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  
  background-color: #900;
  color: white;
  text-shadow: 0 0 0 #000;
  font-weight: normal; }

h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em; }

h3 {
  margin: 0;
  font-size: 1.3333333333em;
  line-height: 1.125em;
  margin-bottom: 1.125em; }

h4 {
  margin: 0;
  font-size: 1.1666666em;
  line-height: 1.28571428571em;
  margin-bottom: 1.28571428571em; }

p, ul, blockquote, pre, td, th, form {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  padding: 0; }

.small {
  margin: 0;
  font-size: 0.83333333em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

table {
  border-collapse: collapse;
  margin-bottom: 1.5em; }

#footer {
  margin-bottom: -0.5em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  
  padding: 1.5em;
  background-color: #eee;
  text-align: center;
  color: #999; }

ul#navigation {
  position: absolute;
  right: 0;
  top: 3em;
  padding-right: 0.5em; }
  ul#navigation li {
    float: left;
    padding: 0 0.25em;
    list-style: none;
    font-size: 1.3333333333em;
    line-height: 2.25em; }
    ul#navigation li a {
      display: block;
      padding: 0 1em;
      background: #eae3c5;
      text-decoration: none;
      font-weight: normal;
      color: black;
      margin: -1px; }

  #extensions .extension {
    padding: 0 0.5em;
    padding-bottom: 0.70833333em;
    margin-bottom: 0.70833333em;
    border-bottom-width: 0.08333333em;
    border-bottom-style: dotted;
    border-bottom-color: gray; }
    #extensions .extension .name {
      font-size: 1.3333333333em;
      line-height: 1.125em;
      color: #333;
      font-weight: bold; }
    #extensions .extension .description {
      padding-left: 1em;
      padding-right: 1em;
      
      color: #999; }
    #extensions .extension .author, #extensions .extension .repository, #extensions .extension .updated {
      display: inline;
      padding-right: 1em; }
    #extensions .extension .updated {
      color: gray; }
    #extensions .extension .repository a {
      color: #c00; }

#content {
  padding: 0 1.5em; }

  form label {
    display: block;
    font-weight: bold; }
    form label .hint {
      font-size: 0.83333333em;
      line-height: 1.2em;
      color: gray;
      font-weight: normal;
      padding-left: 1em; }
  form .fieldWithErrors {
    margin: 0 !important; }
    form .fieldWithErrors .fieldErrors {
      color: #c00;
      position: absolute; }
  form button {
    font-size: 1.3333333333em;
    line-height: 1.125em; }

dl.attributes {
  font-size: 1.1666666em;
  line-height: 1.28571428571em; }
  dl.attributes dt {
    color: #666;
    font-weight: bold; }
  dl.attributes dd {
    margin: 0;
    border-bottom-style: dotted;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    
    padding-bottom: 8px;
    padding-left: 1.5em;
    
    margin-bottom: 9px; }

#extensions_index #index_link a, #extensions_new #new_link a, #authors_index #authors_link a {
  background: white; }

ul#account {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  font-size: 0.83333333em;
  line-height: 1.2em;
  color: white; }
  ul#account li {
    display: none;
    border: none;
    padding: 0 0.5em;
    border-right: 1px solid white; }
  ul#account li.last {
    border: none; }
  ul#account a, ul#account a:visited {
    color: white; }

  #account.in #account_link, #account.in #logout_link {
    display: inline; }

  #account.out #signup_link, #account.out #login_link {
    display: inline; }

  #authors_edit fieldset {
    width: 45.5%;
    float: left;
    margin-left: 1%;
    margin-bottom: 1.5em;
    border: none;
    padding: 0.5em 1em;
    background: #eae3c5; }
  #authors_edit legend {
    margin: 0;
    margin-left: -1em;
    background: #eae3c5;
    padding: 0.25em 0; }
    #authors_edit legend span {
      padding: 1em;
      font-size: 1.3333333333em;
      line-height: 1.125em; }
  #authors_edit #buttons {
    clear: left; }

  #authors .author {
    position: relative;
    border-bottom: 0.08333333em dotted gray;
    padding-bottom: 0.70833333em;
    margin-bottom: 0.70833333em; }
    #authors .author .name {
      font-size: 1.3333333333em;
      line-height: 1.125em; }
    #authors .author .notes {
      padding: 0 1em;
      color: #666; }
    #authors .author .website {
      color: gray;
      position: absolute;
      top: 0;
      right: 0; }
      #authors .author .website a, #authors .author .website a:visited {
        color: #c00; }
