table.details{
	position: relative;
	vertical-align: top;
}

table.pTitle{
	border-width: thin;
	vertical-align: top;
}

table.pTitle tr td{
	padding-left: 5px;
	padding-right: 5px;
}

table.details tr{
	vertical-align: top;
}

table.details tr td{
	padding-right: 5px;
	padding-left: 15px
}

table.details tr th{
	padding-right: 5px;
	padding-left: 15px;
	font-weight:bold;
	font-size: 10px;
}

tr.projHeadRow {
	font-size: 93%;
}

td.subTotal{
	text-align: right;
}

div.gmap{
	border-style: solid;
	border-width: thick;
	border-color: Silver;
	height:400px;
}

div.projDataInner{
	border-style:solid;
	border-color: Silver;
	border-width: medium;
	background: InfoBackground;
}

div.projDataInner td {
  border: none;
}

div.projectData {
  font-family: Arial,Helvetica,Verdana,sans-serif,clean;
  margin-top: 1em;
}

span.divhead1{
	margin-top: 10px;
	font-weight: bold;
}

span.subTotal{
	text-align: right;
	font-weight: bold;
}
span.dataTitle{
	font-weight:bold;
}