<form method="post">
  <%= hidden_field "page", "lock_version" %>
  <%= render_region :form_top %>
  <div class="form-area">
    <%= render_region :form %>
  </div>
  <%= render_region :form_bottom %>
</form>